n8n/daily_digest_workflow.json
{
  "name": "TechWatch AI Daily Digest DB Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/api/cron/run-daily",
        "sendHeaders": true,
        "specifyHeaders": "usingFields",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0099"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Run Daily Scraping API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const email = item.json.email || \"\";\n  const articlesCount = item.json.articles_count || 0;\n  const htmlDigest = item.json.html_digest || \"<h3>No digest available</h3>\";\n  const textDigest = item.json.text_digest || \"No digest available\";\n\n  return {\n    json: {\n      email,\n      articles_count: articlesCount,\n      html_digest: htmlDigest,\n      text_digest: textDigest,\n      subject: `TechWatch AI Daily Digest - ${new Date().toISOString().slice(0, 10)}`\n    }\n  };\n});"
      },
      "id": "3",
      "name": "Prepare Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json[\"articles_count\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json[\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1010,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "={{ $json[\"email\"] }}",
        "subject": "={{ $json[\"subject\"] }}",
        "emailFormat": "html",
        "html": "={{ $json[\"html_digest\"] }}",
        "options": {}
      },
      "id": "5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1260,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'No new articles or no email configured', raw: $json } }];"
      },
      "id": "6",
      "name": "No Articles Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        380
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Daily Scraping API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily Scraping API": {
      "main": [
        [
          {
            "node": "Prepare Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Email": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}